ion-content {
    // background
    --background: url("../../../assets/img/common/create_acct_bckgrnd.jpg") 0 0/100% 100% no-repeat;

    // base style
    input {
        font-style: italic;
        font-size: 16px;
        letter-spacing: 1px;
    }

    // logo
    .logo {
        img {
            width: 224px;
            display: block;
            margin: 0 auto;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    form {
        ion-searchbar {
            &.searchbar-ios {
                background: transparent;
                border: none;
                padding-left: 16px;
                padding-right: 16px;
            }

            .searchbar-input-container {
                .searchbar-search-icon {
                    background-image: url("../../../assets/img/auth/login-in_email_icon.png");
                    background-size: 24px;
                    width: 27px;
                    height: 24.5px;
                    top: 18px;
                    left: 16px;
                }
                .searchbar-input {
                    padding: 24px !important;
                    padding-left: 54px !important;
                    font-size: 16px;
                    background-color: #d6d2d1;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom: 1px solid #666;
                }
            }

            &.fullName {
                .searchbar-input-container {
                    .searchbar-search-icon {
                        background-image: url("../../../assets/img/auth/create_acct_full_name_icon.png");
                        height: 32px;
                        top: 16px;
                    }
                    .searchbar-input {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        border-bottom: none;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #666;
                    }
                }
            }

            &.password-register {
                .searchbar-input-container {
                    .searchbar-search-icon {
                        background-image: url("../../../assets/img/auth/login-in_password_icon.png");
                        height: 32px;
                        top: 9px;
                    }
                    .searchbar-input {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        border-bottom: none;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #666;
                    }
                }
            }

            &.password,
            &.confirm-password {
                .searchbar-input-container {
                    .searchbar-search-icon {
                        background-image: url("../../../assets/img/auth/login-in_password_icon.png");
                        height: 32px;
                        top: 9px;
                    }
                    .searchbar-input {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        border-bottom: none;
                        border-top: 1px solid #fff;
                    }
                }
            }
        }

        .android-form {
            ion-searchbar {
                padding: 0 16px;
                input.searchbar-input {
                    padding: 12px 12px 12px 54px !important;
                }
                &.email {
                    input.searchbar-input {
                        border-top-left-radius: 5px !important;
                        border-top-right-radius: 5px !important;
                    }
                }
            }
        }

        .forgot-password {
            text-align: right;
            font-style: italic;
            color: white;
            margin-top: 8px;
            margin-bottom: 0;
            padding-right: 16px;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .tos {
            text-align: center;
            color: #666;
            margin-top: 16px;
            margin-bottom: 0;
            padding-left: 32px;
            padding-right: 32px;
            letter-spacing: 1px;
            font-style: italic;
            span {
                font-weight: bold;
            }
        }

        .auth-button {
            button[ion-button] {
                height: auto;
                margin: 0 auto;
                padding: 0;
                display: block;
                margin-bottom: 8px;
                @media only screen and (max-device-width: 320px) and (orientation: portrait) {
                    max-width: 280px;
                }
            }
        }
    }
    .have-an-account {
        margin-top: 0;
        text-align: center;
        font-style: italic;
        color: #666;
        letter-spacing: 1px;
        span {
            font-weight: bold;
        }
    }
}
