<ion-header>
  <ion-toolbar>
    <ion-title>{{ authType === 'login' ? 'LOG IN' : authType === 'reset' ? 'RESET PASSWORD?' : 'CREATE ACCOUNT' }}
    </ion-title>
    <ion-buttons right>
      <button class="placeholder-button">
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="logo">
    <img src="assets/img/main/login_rink_rater_logo.png" alt="rr-logo">
  </div>

  <form [noValidate]="true" [formGroup]="form">

    <div showWhen="ios">
      <ion-searchbar class="email" type="email" formControlName="email" placeholder="Email"></ion-searchbar>
      <ion-searchbar *ngIf="authType === 'register' && authType != 'reset'" class="fullName" type="text"
        formControlName="fullName" placeholder="Full Name"></ion-searchbar>
      <ion-searchbar *ngIf="authType != 'reset'"
        [ngClass]="{'password': authType === 'login', 'password-register': authType === 'register'}" type="password"
        formControlName="password" placeholder="Password"></ion-searchbar>
      <ion-searchbar *ngIf="authType === 'register' && authType != 'reset'" class="confirm-password" type="password"
        formControlName="confirm" placeholder="Confirm Password"></ion-searchbar>
    </div>

    <div hideWhen="ios" class="android-form">
      <ion-searchbar class="email" type="email" formControlName="email" placeholder="Email"></ion-searchbar>
      <ion-searchbar *ngIf="authType === 'register' && authType != 'reset'" class="fullName" type="text"
        formControlName="fullName" placeholder="Full Name"></ion-searchbar>
      <ion-searchbar *ngIf="authType != 'reset'"
        [ngClass]="{'password': authType === 'login', 'password-register': authType === 'register'}" type="password"
        formControlName="password" placeholder="Password"></ion-searchbar>
      <ion-searchbar *ngIf="authType === 'register' && authType != 'reset'" class="confirm-password" type="password"
        formControlName="confirm" placeholder="Confirm Password"></ion-searchbar>
    </div>

    <p *ngIf="authType === 'login' && authType != 'reset'" class="forgot-password" (click)="onNavigate()">Forgot
      Password?</p>
    <p *ngIf="authType === 'register' && authType != 'reset'" class="tos">By Creating an Account with Rink Rater, you
      agree to our <span (click)="openTOS()">Terms of Service</span></p>

    <div padding class="auth-button">
      <button *ngIf="authType != 'reset'" ion-button clear [disabled]="!isPasswordMatch()" (click)="doAuth($event)">
        <img
          [src]="authType === 'login' ? 'assets/img/auth/login_login_button.png' : 'assets/img/auth/create_acct_create_acct_button.png'"
          alt="">
      </button>
      <button *ngIf="authType == 'reset'" ion-button clear [disabled]="form.invalid" (click)="onReset()">
        <img [src]="'assets/img/auth/send_password.png'" alt="">
      </button>
    </div>
  </form>
  <p *ngIf="authType != 'reset'" class="have-an-account">{{ authType === 'login' ? "Don't have an account?" : 'Already
    have an account?' }} <span (click)="onNavigate(authType === 'login' ? 'register' : 'login')">{{ authType === 'login'
      ? 'Sign Up' : 'Log In' }}</span></p>
</ion-content>