<form [formGroup]="form" autocomplete="off" novalidate>

  <div showWhen="ios">
    <ion-searchbar formControlName="name" placeholder="Rink Name" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('name', 'required')">Rink Name field is mandatory</p>

    <ion-searchbar formControlName="address" placeholder="Address" type="text"></ion-searchbar>
    <ion-searchbar formControlName="address2" placeholder="" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('address', 'required')">Address field is mandatory</p>

    <ion-searchbar formControlName="city" placeholder="City" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('city', 'required')">City field is mandatory</p>

    <ion-searchbar formControlName="zip" placeholder="Zip Code" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('zip', 'required')">Zip Code field is mandatory</p>

    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select formControlName="country" interface="action-sheet" (ionChange)="changed()">
        <ion-select-option value="canada">Canada</ion-select-option>
        <ion-select-option value="usa">USA</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>State/Province</ion-label>
      <ion-select formControlName="state" interface="action-sheet">
        <ion-select-option *ngFor="let st of states[form.controls['country'].value]" value="{{ st }}">{{ st }}</ion-select-option>
      </ion-select>
    </ion-item>
    <p class="error" *ngIf="isErrorVisible('country', 'required')">Country field is mandatory</p>

    <ion-searchbar formControlName="phone" placeholder="Phone" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('phone', 'required')">Phone Number field is mandatory</p>

    <ion-searchbar formControlName="website" placeholder="Website" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('website', 'required')">Website field is mandatory</p>

    <ion-searchbar formControlName="description" placeholder="Description" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('description', 'required')">Description field is mandatory</p>
  </div>

  <div hideWhen="ios" class="android-form">
    <ion-searchbar formControlName="name" placeholder="Rink Name" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('name', 'required')">Rink Name field is mandatory</p>

    <ion-searchbar formControlName="address" placeholder="Address" type="text"></ion-searchbar>
    <ion-searchbar formControlName="address2" placeholder="" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('address', 'required')">Address field is mandatory</p>

    <ion-searchbar formControlName="city" placeholder="City" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('city', 'required')">City field is mandatory</p>

    <ion-searchbar formControlName="zip" placeholder="Zip Code" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('zip', 'required')">Zip Code field is mandatory</p>

    <ion-item class="android-select">
      <ion-label>Country</ion-label>
      <ion-select formControlName="country" interface="action-sheet" (ionChange)="changed()">
        <ion-select-option value="canada">Canada</ion-select-option>
        <ion-select-option value="usa">USA</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="android-select">
      <ion-label>State/Province</ion-label>
      <ion-select formControlName="state" interface="action-sheet">
        <ion-select-option *ngFor="let st of states[form.controls['country'].value]" value="{{ st }}">{{ st }}</ion-select-option>
      </ion-select>
    </ion-item>
    <p class="error" *ngIf="isErrorVisible('country', 'required')">Country field is mandatory</p>

    <ion-searchbar formControlName="phone" placeholder="Phone" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('phone', 'required')">Phone Number field is mandatory</p>

    <ion-searchbar formControlName="website" placeholder="Website" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('website', 'required')">Website field is mandatory</p>

    <ion-searchbar formControlName="description" placeholder="Description" type="text"></ion-searchbar>
    <p class="error" *ngIf="isErrorVisible('description', 'required')">Description field is mandatory</p>
  </div>
</form>