.error {
  color: red;
  margin-top: 0;
  padding-left: 16px;
}

ion-item {
  padding-right: 16px !important;
  margin-bottom: 8px !important;
  font-size: 20px !important;
  // --background: #eee;

  padding-left: 16px;
  border: 0.55px solid #dedede;
  border-radius: 5px;

  ion-label {
    margin-top: 0;
    margin-bottom: 0;
  }

  ion-select {
    padding-top: 0;
    padding-bottom: 0;
  }
}
