<ion-header>
  <ion-header>
    <ion-buttons left>
      <button ion-button icon-only (click)="goSearch()">
        <ion-icon name="arrow-back" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <!--<ion-buttons left>-->
    <!--<button ion-button menuToggle>-->
    <!--<ion-icon name="menu" class="hamburger"></ion-icon>-->
    <!--</button>-->
    <!--</ion-buttons>-->
    <ion-title>CONTACT US</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-header>
</ion-header>

<ion-content>
  <div class="who-you">
    <h1>How can we help?</h1>
    <div class="help-container">
      <ion-list>
        <button ion-item (click)="openEmail('Feedback')">
          <h2><img src="assets/img/contact/contact_rr_partner_icon.png"> FEEDBACK</h2>
        </button>

        <button ion-item (click)="openEmail('Biz Inquiry')">
          <h2><img src="assets/img/contact/contact_rr_logo_icon.png"> BIZ INQUIRY</h2>
        </button>

        <button ion-item (click)="openEmail('Rink Mgr')">
          <h2><img src="assets/img/contact/contact_rr_rink.mgr_icon.png"> RINK MGR.</h2>
        </button>

        <button ion-item (click)="openPage()">
          <h2><img src="assets/img/contact/help_button_contact.png"> R.R. FAQ's</h2>
        </button>
      </ion-list>
    </div>
  </div>
  <social></social>
  <div class="banner-container">
    <banner [ref]="'banners/contactUs'"></banner>
  </div>
</ion-content>