page-profile-edit {
  font-family: gillsansmt;
  .form-container {
    padding-left: 32px;
    padding-right: 32px;
    input {
      background-color: #eee;
      padding: 8px;
      width: 100%;
      font-size: 20px;
      border: 0;
      margin-bottom: 4px;
    }
  }
  .submit-container {
    button {
      max-width: 200px;
      height: auto !important;
      margin: 0 auto;
      padding: 0;
      display: block;
    }
  }
  .upper {
    position: relative;
    padding-top: 168px;
    .bkgrnd {
      background-position: center 0;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 240px;
      z-index: -1;
    }
    .profile-img {
      display: block;
      margin: 0 auto;
      width: 108px;
      height: 108px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    h2,
    h4 {
      margin-bottom: 8px;
      text-align: center;
      color: #333333;
    }
    h2 {
      color: #3cacde;
    }
    h4 {
      margin: 0;
    }
  }
  //.upper {
  //    position: relative;
  //    padding-top: 168px;
  //    .bkgrnd {
  //        background: url('../assets/img/profile/myprofile_bkgrnd_photo.png');
  //        background-position: center 0;
  //        background-repeat: no-repeat;
  //        background-size: cover;
  //        position: absolute;
  //        top: 0;
  //        left: 0;
  //        width: 100%;
  //        height: 240px;
  //        z-index: -1;
  //    }
  //    .profile-img {
  //        position: absolute;
  //        bottom: -24px;
  //        left: 24px;
  //        width: 108px;
  //        height: 108px;
  //        border-radius: 50%;
  //        background-repeat: no-repeat;
  //        background-position: center center;
  //        background-size: cover;
  //    }
  //    h2, h4 {
  //        margin-bottom: 0;
  //        margin-top: 0;
  //        text-align: right;
  //        color: #333333;
  //        padding-right: 16px;
  //    }
  //    h2 {
  //        margin-top: 64px;
  //    }
  //}
  .profile-info {
    margin-top: 16px;
    h1 {
      background-color: #3cacde;
      color: #addcf8;
      margin: 0;
      padding: 8px 16px 8px 16px;
      text-align: center;
    }
  }
  //.edit-content {
  //    padding-bottom: 8px;
  //    background: url('../assets/img/profile-card/hockeyparent_bkgrd_image.jpg');
  //    background-position: center 55px;
  //    background-repeat: no-repeat;
  //    background-size: contain;
  //
  //}
}
