<ion-header>
  <ion-header>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" class="hamburger"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>MY PROFILE</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </button>
    </ion-buttons>
  </ion-header>
</ion-header>


<ion-content>
  <ion-list class="upper">
    <ion-item detail-none>
      <div item-left>
        <div class="profile-img" [ngStyle]="{'background-image':'url(' + user?.photo.src + ')'}"></div>
      </div>
      <h2>{{ this.user?.fullName }}</h2>
      <h4>{{ this.user?.alias }}</h4>
    </ion-item>
  </ion-list>
  <div class="card-content">
    <div class="profile-info">
      <h1>HOCKEY PARENT CARD</h1>
    </div>
    <h4 class="hockey-life-title">What's Your "Hockey-Life" Story?:</h4>
    <div class="form-container" padding>
      <app-card-form #form [parentCard]="this.user.parentCard"></app-card-form>
    </div>
    <div padding class="submit-container">
      <button ion-button clear (click)="submit(form.value)">
        <img src="assets/img/profile-card/save_button.png" alt="">
      </button>
    </div>
    <div class="social-container">
      <social [hasFollow]="false" [hasRate]="false" [shareTitle]="'SHARE YOUR STORY!'"></social>
    </div>
  </div>
  <!--<banner [ref]="'banners/profile'"></banner>-->
</ion-content>