<form [formGroup]="form" autocomplete="off" novalidate>

  <input type="text" placeholder="Full Name" formControlName="fullName">
  <p class="error" *ngIf="isErrorVisible('fullName', 'required')">Full Name field is mandatory</p>

  <input type="text" placeholder="Email" formControlName="email">
  <p class="error" *ngIf="isErrorVisible('email', 'required')">Email field is mandatory</p>

  <input type="text" placeholder="Username" formControlName="alias">
  <p class="error" *ngIf="isErrorVisible('alias', 'required')">Alias field is mandatory</p>

  <input type="password" placeholder="Password" formControlName="password">

  <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
</form>