<div class="share-rate-container">
  <h1 class="share-title">{{ shareTitle }}</h1>
  <div class="social-container">
    <img src="assets/img/social/social_fb_icon.png" alt="" width="64" height="64" (click)="shareVia('facebook')"
      [@shareFacebookState]="shareFacebookState" (mouseup)="shareFacebookState = 'mouseup'"
      (mousedown)="shareFacebookState = 'mousedown'">
    <img src="assets/img/social/social_twitter_icon.png" alt="" width="64" height="64" (click)="shareVia('twitter')"
      [@shareTwitterState]="shareTwitterState" (mouseup)="shareTwitterState = 'mouseup'"
      (mousedown)="shareTwitterState = 'mousedown'">
    <img src="assets/img/social/social_g+_icon.png" alt="" width="64" height="64" (click)="shareVia('gplus')"
      [@shareTwitterState]="shareGoogleState" (mouseup)="shareGoogleState = 'mouseup'"
      (mousedown)="shareGoogleState = 'mousedown'">
  </div>
  <div *ngIf="hasRate">
    <h1 class="mt10">RATE RINK RATER!</h1>
    <div class="social-container">
      <img src="assets/img/social/social_appstore_icon.png" alt="" width="64" height="64" (click)="onAppRate('ios')"
        [@rateItunesState]="rateItunesState" (mouseup)="rateItunesState = 'mouseup'"
        (mousedown)="rateItunesState = 'mousedown'">
      <img src="assets/img/social/social_playstore_icon.png" alt="" width="64" height="64"
        (click)="onAppRate('android')" [@rateGooglePlayState]="rateGooglePlayState"
        (mouseup)="rateGooglePlayState = 'mouseup'" (mousedown)="rateGooglePlayState = 'mousedown'">
    </div>
  </div>
  <div *ngIf="hasFollow">
    <h1 class="mt10">FOLLOW US:</h1>
    <div class="social-container">
      <img src="assets/img/social/social_fb_icon.png" alt="" width="64" height="64" (click)="followUs('facebook')"
        [@followFbState]="followFbState" (mouseup)="followFbState = 'mouseup'"
        (mousedown)="followFbState = 'mousedown'">
      <img src="assets/img/social/social_twitter_icon.png" alt="" width="64" height="64" (click)="followUs('twitter')"
        [@followTwitterState]="followTwitterState" (mouseup)="followTwitterState = 'mouseup'"
        (mousedown)="followTwitterState = 'mousedown'">
    </div>
  </div>
</div>