social {
  .mt10 {
    margin-top: 10px;
  }
  .share-rate-container {
    .share-title {
      margin-top: 0;
    }
    h1 {
      font-family: gillsansmt;
      text-align: center;
      font-size: 28px;
      letter-spacing: 1.1px;
    }
  }
  .social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}
