<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon name="menu" class="hamburger" #menu></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>RINK SEARCH</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="go('settings')">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="search-background">
    <div class="upper">
      <img src="assets/img/main/login_rink_rater_logo.png" class="logo-opacity60">
      <div class="hockey-rankings">
        <p>POWERED BY:</p>
        <img src="assets/img/common/mhr_rink_search_logo.png" (click)="onInAppBrowser(hockeyRankingsUrl)">
      </div>
      <img src="assets/img/search/search_thatch_character.png" class="character">
      <div showWhen="ios">
        <div class="search-input-container">
          <ion-searchbar [(ngModel)]="input" [showCancelButton]="shouldShowCancel" (ionInput)="onInput()"
            (ionClear)="onClear()" (ionBlur)="hide($event)" debounce="250" placeholder="Which Rink?"></ion-searchbar>
        </div>
      </div>

      <div hideWhen="ios" class="android-form">
        <div class="search-input-container">
          <ion-searchbar [(ngModel)]="input" [showCancelButton]="shouldShowCancel" (ionInput)="onInput()"
            (ionClear)="onClear()" (ionBlur)="hide($event)" debounce="250" placeholder="Which Rink?"></ion-searchbar>
        </div>
      </div>

      <div class="search-list">
        <ion-list *ngIf="filtered && filtered.length > 0">
          <button detail-none text-wrap ion-item *ngFor="let rink of filtered" (click)="goInfo(rink)">
            {{ rink.name | rinkname }} {{ rink.state ? ', ' + rink.state : ''}}
          </button>
          <button class="load-more" detail-none text-wrap ion-item (click)="loadMore()"
            *ngIf="totalSearch > 10 && totalSearch != 0">
            Load more <ion-spinner *ngIf="isLoadMore"></ion-spinner>
          </button>
        </ion-list>
        <ion-list *ngIf="shouldLoad && input">
          <ion-item>
            Loading...<br><span class="small">Enter at least 3 characters</span>
            <ion-spinner item-right></ion-spinner>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="!shouldLoad && !filtered && input">
          <ion-item>
            No Results
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="slides">
      <ion-slides [options]="slideOptions">
        <ion-slide>
          <h4>"Is there a Pro Shop?"</h4>
        </ion-slide>
        <ion-slide>
          <h4>"How cold is it?!"</h4>
        </ion-slide>
        <ion-slide>
          <h4>"Is there Skate Sharpening?"</h4>
        </ion-slide>
        <ion-slide>
          <h4>"Closest Coffee Shop?"</h4>
        </ion-slide>
        <ion-slide>
          <h4>"Is there Wi-Fi?"</h4>
        </ion-slide>
        <ion-slide>
          <h4>"Are there Concessions?"</h4>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="buttons" [@buttonState]="'in'">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button fill="clear" (click)="onInAppBrowser(gearStore)">
              <img src="assets/img/search/find_rink_pro_shop_button.png">
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button fill="clear" (click)="go('partners')">
              <img src="assets/img/search/find_rink_partners_button.png">
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-button fill="clear" (click)="onAddRink()">
              <img src="assets/img/search/find_rink_add_rink_button.png">
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button fill="clear" (click)="go('nearby')">
              <img src="assets/img/search/find_rink_nearby_button.png">
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>