<form [formGroup]="form" autocomplete="off" novalidate>

  <p class="card-label">How many kids in your family play? Do you?</p>
  <input type="text" placeholder="How many kids in your family play? Do you?" formControlName="kids">

  <p class="card-label">Any special training equipment stand out? Speed? Stickhandling? Skills?</p>
  <input type="text" placeholder="Any special training equipment stand out? Speed? Stickhandling? Skills?"
    formControlName="training">

  <p class="card-label">What's the farthest you've travelled for a game/tourney?</p>
  <input type="text" placeholder="What's the farthest you've travelled for a game/tourney?" formControlName="farthest">

  <p class="card-label">Do your kids participate in Camps / Clinics? Where and how was it?</p>
  <input type="text" placeholder="Do your kids participate in Camps / Clinics? Where and how was it?"
    formControlName="campsAndClinics">

  <p class="card-label">Does it feel like you're sponsored by...?</p>
  <input type="text" placeholder="Does it feel like you're sponsored by...?" formControlName="sponsored">

  <p class="card-label">Random Hockey Story (Horror or Success):</p>
  <input type="text" placeholder="Random Hockey Story (Horror or Success):" formControlName="story">

</form>