page-about {
  .pb16 {
    padding-bottom: 16px;
  }
  font-family: gillsansmt;
  .what {
    margin-top: -5px;
  }
  h3 {
    background-color: #3cacde;
    color: #addcf8;
    margin: 0;
    padding: 8px 16px 8px 16px;
    ion-icon {
      color: #addcf8;
      float: right;
    }
  }
  p {
    margin: 0;
    font-size: 18px;
    color: #323232;
    padding: 16px 16px 16px 16px;
    line-height: 1.3;
  }
  .our-skaters {
    display: block;
    margin: 0 auto;
  }
  ul {
    list-style-type: none;
    padding-left: 16px;
    font-size: 18px;
    color: #323232;
  }
  //   .social-background {
  //     background: url("assets/img/about/about_lower_share_bkgrnd.jpg");
  //     background-position: center 0;
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     padding-top: 72px;
  //     padding-bottom: 72px;
  //   }
}
