<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon name="menu" class="hamburger" #menu></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>ADD A RINK</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="instruction">
    <h3>Please let us know if we're missing any rinks. You can submit them using the form below.</h3>
  </div>
  <div class="ion-padding">
    <div class="form-container">
      <app-rink-form #form></app-rink-form>
    </div>
  </div>
  <div class="ion-padding submit-container">
    <ion-button [disabled]="!form.valid" fill="clear" (click)="submit(form)">
      <img src="assets/img/rink-info/submit_rink_button.png" alt="">
    </ion-button>
  </div>
  <banner [ref]="'banners/addRink'"></banner>
</ion-content>