* {
  font-family: gillsansmt;
}

.instruction {
  background: url("/assets/img/common/rink_info_background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  h3 {
    margin-top: 0;
    text-align: center;
    padding: 16px 24px;
    color: #2f2f2d;
  }
}
.form-container {
  input {
    background-color: #eee;
    padding: 8px;
    width: 100%;
    font-size: 20px;
    border: 0;
    margin-bottom: 4px;
  }
  ion-searchbar {
    &.searchbar-ios {
      background: transparent;
      border: none;
      //margin-bottom: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }

    .searchbar-input-container {
      .searchbar-search-icon {
        display: none;
      }
      .searchbar-input {
        border: 0.55px solid #dedede;
        padding: 16px !important;
        font-size: 20px;
        background-color: #eee;
      }
    }
  }
  .android-form {
    ion-searchbar {
      padding-top: 0;
      input.searchbar-input {
        padding: 8px 8px 8px 16px !important;
      }
    }
    .android-select {
      padding-left: 8px;
      padding-right: 8px !important;
      .item-inner {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        margin-bottom: 4px;
      }
    }
  }
}
.submit-container {
  button {
    max-width: 320px;
    height: auto !important;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
}
