<ion-app>

  <ion-menu side="start" menuId="main" contentId="menuContent">
    <ion-header>
      <ion-toolbar>
        <ion-title>MENU</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!--<ion-list (@listState.done)="listStateDone()" [@listState]="state" style="background-color: red">-->
      <ion-list>
        <!-- <ion-button > -->
          <!-- [@itemState]="state"
            (@itemState.done)="itemStateDone()" -->
          <ion-item  *ngFor="let p of pages" (click)="openPage(p)" detail-none>
            <img src="assets/img/common/rink_info_puck_rating.png" width="34" height="30">
            {{p.title}}
            <ion-icon name="ios-arrow-forward" slot="end" class="arrow-right" style="color: #666;"></ion-icon>
          </ion-item>
        <!-- </ion-button> -->
      </ion-list>
      <!-- <my-hockey-rankings></my-hockey-rankings> -->
      <div class="review-policy">
        <h1 class="policy-heading">REVIEW POLICY:</h1>
        <p class="content">Please use Rink Rater as a constructive way to help your Hockey Community. We have provided a
          convenient way to send negative comments directly to the rinks in the Add Review section</p>
        <p class="thanks">Thanks! RR</p>
      </div>
      <!-- <social></social> -->
      <div class="powered-by">
        <p>DEVELOPED BY: <img src="assets/img/menu/npd_logo.png" (click)="showNpd()"></p>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>