ion-title {
    //position: absolute;
    //top: 0;
    //left: 0;
    //padding: 0 50px 1px !important;
    //width: 100%;
    //height: 100%;
    text-align: center;
}
.toolbar-ios {
    ion-title {
        padding: 0 48px 1px !important;
    }
}

ion-header {
    font-family: gillsansmt;
    font-weight: normal;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default,
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
    color: #fff;
}

.toolbar-background {
    background: rgb(112, 112, 112);
}
.toolbar-title {
    color: #fff;
    font-size: 24px;
    text-overflow: clip;
    @media only screen and (max-device-width: 320px) and (orientation: portrait) {
        font-size: 20px;
    }
}

.hamburger {
    color: #fff;
}

ion-menu {
    font-family: gillsansmt;
    ion-content {
        --background: url("../assets/img/menu/menu_bkgrnd.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        ion-list {
            ion-item {
                --background: transparent !important;
                padding-left: 8px !important;
                &:last-child {
                    border-bottom: none !important;
                }
                .item-inner {
                    border-bottom: 2px dashed #666 !important;
                    .input-wrapper {
                        letter-spacing: 1.2px;
                        ion-label {
                            margin-top: 8px;
                            margin-bottom: 8px;
                            img {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
            font-family: gillsansmt;
        }
        .review-policy {
            .policy-heading,
            .content {
                text-align: center;
                margin-bottom: 0;
            }
            .content {
                padding-left: 16px;
                padding-right: 16px;
                font-size: 16px;
            }
            .thanks {
                text-align: right;
                padding-right: 16px;
            }
        }
        .powered-by {
            p {
                text-align: center;
                img {
                    vertical-align: middle;
                    width: 86px;
                    padding-left: 8px;
                }
            }
        }
    }
}
