<ion-content>
  <div class="main-container">
    <div class="img-container">
      <img src="assets/img/main/login_rink_rater_logo.png" alt="placeholder-image" class="rink-rater-logo">
    </div>
    <ion-slides [options]="slideOptions">
      <ion-slides [options]="slideOptions">
        <ion-slide>
          <p>"Is there a Pro Shop?"</p>
        </ion-slide>
        <ion-slide>
          <p>"How cold is it?!"</p>
        </ion-slide>
        <ion-slide>
          <p>"Is there Skate Sharpening?"</p>
        </ion-slide>
        <ion-slide>
          <p>"Closest Coffee Shop?"</p>
        </ion-slide>
        <ion-slide>
          <p>"Is there Wi-Fi?"</p>
        </ion-slide>
        <ion-slide>
          <p>"Are there Concessions?"</p>
        </ion-slide>
      </ion-slides>
    </ion-slides>
    <div class="button-container" padding>
      <ion-button clear (click)="authRedirect('login')">
        <img src="assets/img/main/login_email_button.png" alt="">
      </ion-button>
      <ion-button clear (click)="facebookLogin()">
        <img src="assets/img/main/login_facebook_button.png" alt="">
      </ion-button>
      <ion-button clear (click)="twitterLogin()">
        <img src="assets/img/main/login_twitter_button.png" alt="">
      </ion-button>
      <p class="no-account">
        <a>Don't have an account yet?</a>
      </p>
      <ion-button clear (click)="authRedirect('register')">
        <img src="assets/img/main/login_create_account_button.png" alt="">
      </ion-button>
      <p class="privacy">
        <span (click)="openInAppBrowser('privacy')">Privacy</span> | <span (click)="openInAppBrowser('tos')">Terms of
          Service</span>
      </p>
    </div>
  </div>
</ion-content>