<ion-list>
  <button ion-item detail-none *ngIf="!partners">
    <h2>No partner in this category just yet.</h2>
  </button>
  <button ion-item *ngFor="let partner of partners" (click)="onInAppBrowser(partner?.$key)">
    <h2>{{ partner?.name }}</h2>
  </button>
</ion-list>