<div class="review-categories">
  <h1>REVIEW CATEGORIES:</h1>
  <ion-list>
    <div *ngFor="let a of accordion; let idx = index;">
      <!-- [@accordionState]="'in'"
        (@accordionState.done)="onAnimateStateDone()" -->
      <ion-item detail="none" (click)="toggle(idx, a.category)">
        <div item-left>
          <img [src]="a.leftImage" width="50"
            [ngClass]="{'img-icon-tips': a.category === 'HOME TEAM INSIGHTS' || a.category === 'LIVE STREAMING'}">
        </div>
        <h2>{{ a.category }} {{ a.category == "REF'S ROOM" ? "- OFFICIALS ONLY" : "" }}</h2>
        <p>{{ reviews | reviewcount:a.category }}</p>
        <ion-icon name="{{ a.iconRight }}" style="color:#343432;" item-right></ion-icon>
      </ion-item>
      <!-- <reviews
              *ngIf="a.toggle"
              [reviews]="reviews"
              [rink]="rink"
              [category]="a.category"
              [description]="a.description"
              (onEmitCategory)="onAddReviewOnSamePage(idx, $event)"
          ></reviews> -->
    </div>
  </ion-list>

  <my-hockey-rankings></my-hockey-rankings>
  
</div>