.img-icon-tips {
    padding-right: 4px;
    padding-left: 4px;
}
.review-categories {
    h1 {
        background-color: #3cacde;
        color: #addcf8;
        margin: 0;
        text-align: center;
        padding: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }
    ion-list {
        margin-top: 8px;
        margin-bottom: 8px !important;
        button[ion-item] {
            padding-left: 8px;
            &:first-child {
                border-top: none !important;
            }
            &:last-child {
                border-bottom: none !important;
            }
            div[item-left] {
                margin: 0;
            }
            img {
                margin: 0;
            }
            h2 {
                color: #343432;
                letter-spacing: 1.2px;
                padding-left: 4px;
            }
            p {
                color: deepskyblue;
                padding-left: 4px;
            }
        }
        ion-list {
            margin: 0;
            ion-item {
                background-color: #f1f9fb;
                .profile-img {
                    display: block;
                    margin: 0 auto;
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                }
                ion-label {
                    //border: 1px solid #ccc;
                    padding: 8px;
                    border-radius: 8px;
                    background-color: #dcf3fb;
                    color: #000;
                    //box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                    margin-left: 8px;
                }
                &:last-child {
                    ion-label {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
