<ion-header [ngStyle]="{'margin-top': hasToolBar == false ? '-100px' : '0'}">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-icon name="menu" class="hamburger" #menu></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>{{ this.review ? 'EDIT REVIEW' : 'ADD REVIEW' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goSettings()">
        <img src="assets/img/common/profile_helmet_icon.png" width="64" height="64">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="hasToolBar">
  <div class="upper">
    <h3>YOU ARE REVIEWING:</h3>
    <h4>{{ rink?.name }}</h4>
    <h4>{{ rink?.address }}</h4>
    <h4>{{ rink?.city }}, {{ rink?.state }}</h4>
    <div class="actions" #actionsContainer>
      <h5>Overall Rating:</h5>
      <div class="overall-rating">
        <ion-range min="1" max="5" step="1" snaps="true" [(ngModel)]="score" (ionChange)="onPanRating()"></ion-range>
        <div class="rating-container">
          <img #star1 src="assets/img/common/rink_info_puck_rating.png" width="30" height="26">
          <img #star2 src="assets/img/common/rink_info_puck_rating.png" width="30" height="26">
          <img #star3 src="assets/img/common/rink_info_puck_rating.png" width="30" height="26">
          <img #star4 src="assets/img/common/rink_info_puck_rating.png" width="30" height="26">
          <img #star5 src="assets/img/common/rink_info_puck_rating.png" width="30" height="26">
        </div>
      </div>
    </div>
    <div class="review-container">
      <ion-item>
        <ion-select [(ngModel)]="category" placeholder="Select Any Category" interface="action-sheet">
          <ion-select-option *ngFor="let c of categories" value="{{ c.value }}">{{ c.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card>
        <ion-card-content>
          <!-- The Newington Ice Arena is a beautiful facility! They got a great Pro Shop with expert skate sharpeners and updated everything. -->
          <ion-textarea placeholder="Write your review here" [(ngModel)]="comment"></ion-textarea>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="ion-padding submit-container">
      <ion-button  fill="clear" [disabled]="!comment || !score || !category" (click)="submit()">
        <img src="assets/img/rink-info/submit_review_button.jpg" alt="">
      </ion-button>
    </div>
    <div class="rink-manager">
      <p><b>Negative Comments?</b><br>Send to Rink Manager <b>HERE!</b><br><button ion-button clear
          (click)="openEmail()"><img src="assets/img/add-review/add_review_email_icon_circle.png" width="48"></button>
      </p>
    </div>
  </div>
  <div #reviewCategories>
    <review-categories [rink]="rink" (onEmitCategory)="onAddReviewOnSamePage($event)"></review-categories>
    <banner [ref]="'banners/addReview'"></banner>
  </div>
</ion-content>