ion-header {
  -moz-transition: all 0.5s ease-out; /* FF4+ */
  -o-transition: all 0.5s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.5s ease-out; /* Saf3.2+, Chrome */
  -ms-transition: all 0.5s ease-out; /* IE10 */
  transition: all 0.5s ease-out;
}
ion-content {
  --background: url(/assets/img/add-review/add_review_bkgrnd_photo.jpg) center 0/cover no-repeat;
  padding-top: 8px;
  h3,
  h4 {
    margin: 0;
    color: #343432;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.review-container {
  ion-item {
    --background: transparent;
    padding-left: 0;
    color: #343432;
    .item-inner {
      border-bottom: none !important;
      ion-select {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 100%;
        margin: 0 auto;
        font-size: 24px;
        .select-icon {
          margin-top: 5px;
        }
      }
    }
  }
  ion-card {
    padding: 0;
    --background: transparent;
    margin-bottom: 0;
    ion-card-content {
      padding: 8px 16px 8px 16px;
      textarea {
        background: transparent;
        width: 100%;
        height: 64px;
        color: #343432;
        resize: none;
        border: none;
        font-size: 16px;
      }
    }
  }
}
.select {
  text-align: center;
  color: #343432;
}
.actions {
  h5 {
    text-align: center;
  }
  .overall-rating {
    position: relative;
    width: 186px;
    margin: 0 auto;
    ion-range {
      z-index: 999;
      padding: 0;
      width: 170px;
      padding-left: 16px;
      opacity: 0;
    }
    .rating-container {
      position: absolute;
      top: 8px;
      left: 0;
      img {
        opacity: 0.5;
      }
    }
  }

  ion-row {
    padding-top: 8px;
    padding-bottom: 8px;
    ion-col {
      .overall-rating {
        position: relative;
        width: 186px;
        ion-range {
          z-index: 999;
          padding: 0;
          width: 170px;
          padding-left: 16px;
          opacity: 0;
        }
        .rating-container {
          position: absolute;
          top: 28px;
          left: 0;
          img {
            opacity: 0.5;
          }
        }
      }
      h5 {
        color: #343432;
        margin-top: 0;
        margin-bottom: 0;
      }
      &:first-child {
        border-right: 2px solid #666;
      }
      &:last-child {
        h5 {
          text-align: center;
        }
        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
.submit-container {
  button {
    max-width: 320px;
    height: auto !important;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
}
.rink-manager {
  p {
    text-align: center;
    margin: 0;
    padding-bottom: 8px;
    button {
      height: auto !important;
      padding: 0;
      img {
        vertical-align: middle;
      }
    }
  }
}
